certifi==2019.3.9
cffi==1.7.0
chardet==3.0.4
colorama==0.4.1
DAWG-Python==0.7.2
dj-database-url==0.5.0
Django==2.1.7
django-cors-headers==2.5.2
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
docopt==0.6.2
git-pythonpath==0.1.1
gunicorn==19.9.0
httpie==1.0.2
idna==2.8
Pillow==6.0.0
psycopg2==2.7.7
psycopg2-binary==2.8.2
pycparser==2.19
Pygments==2.3.1
PyJWT==1.7.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pypi==2.1
pytz==2018.9
requests==2.21.0
singledispatch==3.4.0.3
urllib3==1.24.1
whitenoise==4.1.2
